<!DOCTYPE html>
<html lang="es">
<head><meta charset="UTF-8"><title>Consulta Folio</title></head>
<body>
<header><img src="{{ url_for('static','Oaxacaarriba.jpg') }}"></header>
<div class="titulo">Consulta de Folio</div>
<form method="POST" action="{{ url_for('consulta_folio') }}">
  <input name="folio" placeholder="Tu Folio" required>
  <button type="submit">Consultar</button>
</form>

{% if resultado %}
  <div>
    <p>Folio: {{ resultado.folio }}</p>
    <p>Estado: {{ resultado.estado }}</p>
    {% if resultado.estado!='No encontrado' %}
      <p>Expedición: {{ resultado.fecha_expedicion }}</p>
      <p>Vencimiento: {{ resultado.fecha_vencimiento }}</p>
      <p>Marca: {{ resultado.marca }}</p>
      <p>Línea: {{ resultado.linea }}</p>
      <p>Serie: {{ resultado.numero_serie }}</p>
      <p>Motor: {{ resultado.numero_motor }}</p>
    {% endif %}
  </div>
{% endif %}

<a href="{{ url_for('panel') }}">Volver al Panel</a>
<footer><img src="{{ url_for('static','Masabajo.jpg') }}"></footer>
</body>
</html>
